<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/img/icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    <title>个人主页</title>
</head>
<body>
<div class="nk-container">
    <!-- 头部 -->
    <header class="bg-dark sticky-top" th:replace="index::header"></header>

    <!-- 内容 -->
    <div class="main">
        <div class="container">
            <!-- 选项 -->
            <div class="position-relative">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{|/user/profile/${user.id}|}">个人信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="my-post.html">我的帖子</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="my-reply.html">我的回复</a>
                    </li>
                </ul>
            </div>
            <!-- 个人信息 -->
            <div class="media mt-5">
                <img th:src="${user.headerUrl}" class="align-self-start mr-4 rounded-circle"
                     alt="用户头像" style="width:50px;">
                <div class="media-body">
                    <h5 class="mt-0 text-warning">
                        <span th:utext="${user.username}"></span>
                        <input type="hidden" id="entityId" th:value="${user.id}">
                        <button type="button"
                                th:class="|btn ${hasFollowed?'btn-secondary':'btn-info'} btn-sm float-right mr-5 follow-btn|"
                                th:text="${hasFollowed?'已关注':'关注TA'}"
                                th:if="${loginUser != null && loginUser.id != user.id}">
                        </button>
                    </h5>
                    <div class="text-muted mt-3">
                        <span>注册于 <i class="text-muted"
                                     th:text="${#dates.format(user.createTime, 'yyyy-MM-dd HH:mm:ss')}"></i></span>
                    </div>
                    <div class="text-muted mt-3 mb-5">
                        <span>关注了 <a class="text-primary" th:href="@{|/followees/${user.id}|}"
                                     th:text="${followeeCount}"></a> 人</span>
                        <span class="ml-4">关注者 <a class="text-primary" th:href="@{|/followers/${user.id}|}"
                                                  th:text="${followerCount}"></a> 人</span>
                        <span class="ml-4">获得了 <i class="text-danger" th:text="${likeCount}"></i> 个赞</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <footer class="bg-dark" th:replace="index::footer"></footer>
</div>

<script th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/global.js}"></script>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>
